@model LoginViewModel

<div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                 class="img-fluid" alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
            <form method="post" asp-controller="Account" asp-action="Login">
                @* <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
                        <p class="lead fw-normal mb-0 me-3">Sign in with</p>
                        <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-floating mx-1">
                            <i class="fab fa-facebook-f"></i>
                        </button>

                        <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-floating mx-1">
                            <i class="fab fa-twitter"></i>
                        </button>

                        <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-floating mx-1">
                            <i class="fab fa-linkedin-in"></i>
                        </button>
                    </div> *@

                <div class="divider d-flex align-items-center my-4">
                    <p class="text-center fw-bold mx-3 mb-0">Вход в аккаунт</p>
                </div>

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <!-- Email input -->
                <div data-mdb-input-init class="form-outline mb-4">
                    <input type="email" asp-for="Email" class="form-control form-control-lg"
                           placeholder="Введите почту" />
                    <label asp-for="Email" class="form-label">Email адрес</label>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <!-- Password input -->
                <div data-mdb-input-init class="form-outline mb-3">
                    <input type="password" asp-for="Password" class="form-control form-control-lg"
                           placeholder="Введите пароль" />
                    <label class="form-label" asp-for="Password">Пароль</label>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="d-flex justify-content-between align-items-center">
                    <!-- Checkbox -->
                    <div class="form-check mb-0">
                        <input asp-for="RememberMe" class="form-check-input me-2" type="checkbox" value="" />
                        <label class="form-check-label" asp-for="RememberMe">
                            Запомнить меня
                        </label>
                    </div>
                    <a href="#!" class="text-body">Забыли пароль?</a>
                </div>

                <div class="text-center text-lg-start mt-4 pt-2">
                    <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg"
                            style="padding-left: 2.5rem; padding-right: 2.5rem;">
                        Войти
                    </button>
                    <p class="small fw-bold mt-2 pt-1 mb-0">
                        Нет аккаунта? <a href="/Account/Register"
                                         class="link-danger">Зарегистрироваться</a>
                    </p>
                </div>

            </form>
        </div>
    </div>
</div>

@section scripts {

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}